

.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared style */
.text-parmary{
   color: #FD6E0A;
}
.dark-1{
    color: #181818;
}
.dark-2{
  color:#474747;
}
.dark-3{
    color: #757575;
}
.btn-parimary{
    background-color: #FD6E0A;
    color: white;
    font-weight: 800;
    font-size: 20px;
    padding: 18px 35px 19px 36px;
    border-radius: 5px;
    border: none;

}
/* header image */

.header {
    background-image: url(/images/developer.png) , url(/images/header_bg.png);
     background-repeat: no-repeat;
     background-position: top left, bottom right; 
}

/* nav */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
  font-weight: 800;
  font-size: 45px;

}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
  list-style: none;  
  margin-right: 51px;
    }
nav ul li a{
        text-decoration: none;
        font-size: 20px;
    }
    /* baner style */
  .baner-g{
 font-size: 45px;
 font-weight: 600px;
}
.baner-title{
    font-size: 85px;
    font-weight: bold;
}
.baner-dis{
    font-size: 18px;
}
.banaer-profile-pic{
    width: 584px;
    height: 676px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 200px;
}
.banner-content{
    max-width: 580px;
}